.nav{
    line-height: 50px;
    display: block;
    
}
body {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #FC00FF , #00DBDE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(right, #FC00FF , #00DBDE);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
button{
    margin: 20px;
}
div{
    margin: 5px;
}
input{
    margin: 20px; 

}
img{
    width: 200px;
    height: 200px;
    margin: 20px;
}