
body {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #FC00FF , #00DBDE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(right, #FC00FF , #00DBDE);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
button{
    margin: 20px;
}

input{
    margin: 20px; 

}
imgHome{
    width: 90%;
    margin: 4%;
    border-radius: 100px;
}
.login{
    line-height: 40px;
    display: block;
}   

.btn{
    border-radius: 20px;
}
.jumbotron{
    background-color: #BBBBBB;
}
.seperator{
    height:15px;
}
.foot{
    border: 1px dotted red;
}
.footHead{
    font-weight: bold;
}
.imgBrowse{
    
}
.product{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}