<template name = "account">
    <h1 class = "text-center">My Account Information</h1>
    <div class = "container">
        <div class = "well">
            
       
    <h4>Fill in boxes to change your information</h4>
<form>
  First name: {{first}}<br>
  <input type="text" name="firstname"><br>
  Last name: {{last}}<br>
  <input type="text" name="lastname"><br>
  Address: {{address}}<br>
  <input type="text" name="address"><br>
  City: {{city}}<br>
  <input type="text" name="city"><br>
  State: {{state}}<br>
  <input type="text" name="state"><br>
  Zip: {{zip}}<br>
  <input type="text" name="zip"><br>
  <input type="submit" value="Submit">
</form>

   </div>
    </div>  
</template>