<template name = "footer">
    <div class = "container-fluid seperator">
        <p></p>
    </div>
    <div class = "container foot">
        <div class = "row">
            <div class = "col-sm-4">
                <p class = "footHead">Company Info</p><br>
                <a href = "#">About us</a><br>
                <a href = "#">F.A.Q.</a><br>
                <a href = "#">Terms of use</a>
            </div>
         <div class = "col-sm-4">
                <p class = "footHead">Customer Service</p><br>
                <a href = "#">Contact us</a><br>
                <a href = "#">Your order</a><br>
                <a href = "#">Shipping</a>
            </div>
            <div class = "col-sm-4">
                <p class = "footHead">Contact Info</p>
                <p>Perfect Friction</p>
               <p>Some address</p>
               <p>Some City, Some State, Zip Code</p>
               <p>Telephone Number: </p>
            </div>
        </div>
    </div>
</template>