<template name = "nav">
   <div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
        
        <li ><a href="{{pathFor 'home'}}">Home</a></li>
        <li ><a href="{{pathFor 'about'}}">About</a></li>
        
        <li ><a href="{{pathFor 'products'}}">Browse</a></li>
        <li ><a href="{{pathFor 'cart'}}" >My Cart</a></li>
        <li ><a href="{{pathFor 'account'}}" >My Account</a></li>
        {{#if admin}}
         <li ><a href="{{pathFor 'admin'}}" >Admin</a></li>
        {{/if}}
        <li>{{> loginButtons}}</li>
      </ul>
  </div>
</div>
    
</template>